  <div class="container" >
        <div class="row mt-4">
     <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/product-list">View Product</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/members">Dashboard</a>
      </div>
    </div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="product-container">
					<h1>Products</h1> 

					<form id="product-form" >
						<td colspan="4" >
							<input placeholder="Enter a name" id="product-name" type="text" style="margin-bottom: 10px;" /><br>
							<input placeholder="Enter a price" id="price" type="text" style="margin-bottom: 10px;" /><br>
							<input placeholder="Enter a description" id="description" type="text" style="margin-bottom: 5px;" /><br>
                        </td>
                        <!-- <form method="post" enctype="multipart/form-data" action="/upload">
                            <input type="file" name="file">
                            <input type="submit" value="Submit">
                        </form> -->
						<td><button type="submit" class="btn btn-success">Create Product</button>
						</td>
					</form>
				</div>
			</div>
		</div>
		</d>
		<!-- Custom Script -->
		<!-- <script src="js/product.js" type="text/javascript"></script> -->
		<script src="js/product.js"></script>